<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Shopping</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>LoginFilter</filter-name>
		<filter-class>rj.web.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/ProductList.PHP</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>rj.web.OrderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/Order</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderDetailServlet</servlet-name>
		<servlet-class>rj.web.OrderDetailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrderDetailServlet</servlet-name>
		<url-pattern>/OrderDetail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductDetailServlet</servlet-name>
		<servlet-class>rj.web.ProductDetailServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductDetailServlet</servlet-name>
		<url-pattern>/ProductDetail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>rj.web.ProductListServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/ProductList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderConfirmServlet</servlet-name>
		<servlet-class>rj.web.OrderConfirmServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrderConfirmServlet</servlet-name>
		<url-pattern>/OrderConfirm</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>rj.web.ShoppingCartServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/ShoppingCart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>rj.web.LoginServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserManageServlet</servlet-name>
		<servlet-class>rj.web.UserManageServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserManageServlet</servlet-name>
		<url-pattern>/UserManage</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserModifyServlet</servlet-name>
		<servlet-class>rj.web.UserModifyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserModifyServlet</servlet-name>
		<url-pattern>/UserModify</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserRegisterServlet</servlet-name>
		<servlet-class>rj.web.UserRegisterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserRegisterServlet</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ControllerServlet</servlet-name>
		<servlet-class>rj.controller.ControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ControllerServlet</servlet-name>
		<url-pattern>*.PHP</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ErrorServlet</servlet-name>
		<servlet-class>rj.web.error.ErrorServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ErrorServlet</servlet-name>
		<url-pattern>/error</url-pattern>
	</servlet-mapping>

</web-app>