<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Shopping</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>Order</servlet-name>
		<servlet-class>rj.order.Order</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/Order</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderDetail</servlet-name>
		<servlet-class>rj.order.OrderDetail</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrderDetail</servlet-name>
		<url-pattern>/OrderDetail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductDetail</servlet-name>
		<servlet-class>rj.product.ProductDetail</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductDetail</servlet-name>
		<url-pattern>/ProductDetail</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProductList</servlet-name>
		<servlet-class>rj.product.ProductList</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ProductList</servlet-name>
		<url-pattern>/ProductList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>OrderConfirm</servlet-name>
		<servlet-class>rj.ShoppingCart.OrderConfirm</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>OrderConfirm</servlet-name>
		<url-pattern>/OrderConfirm</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>ShoppingCart</servlet-name>
		<servlet-class>rj.ShoppingCart.ShoppingCart</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ShoppingCart</servlet-name>
		<url-pattern>/ShoppingCart</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>rj.user.Login</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UserManage</servlet-name>
		<servlet-class>rj.user.UserManage</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserManage</servlet-name>
		<url-pattern>/UserManage</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>UserModify</servlet-name>
		<servlet-class>rj.user.UserModify</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserModify</servlet-name>
		<url-pattern>/UserModify</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>UserRegister</servlet-name>
		<servlet-class>rj.user.UserRegister</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UserRegister</servlet-name>
		<url-pattern>/UserRegister</url-pattern>
	</servlet-mapping>
</web-app>